.header-fondo {
  background-color: #fcd9f4; }

.footer-fondo {
  background-color: #fcd9f4; }

@font-face {
  font-family: "Sokis-first";
  src: url(../fonts/FakeSerif.ttf); }

@font-face {
  font-family: "Sokis-second";
  src: url(../fonts/RoshidaValentines.ttf); }

body {
  background-image: url(../images/fondo/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin: 0px; }

header {
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }

.h1 {
  font-weight: bold;
  padding: auto;
  text-decoration: none;
  text-align: justify; }

.h2 {
  font-weight: bold;
  padding: auto;
  text-decoration: none;
  text-align: justify;
  font-size: 28px; }

.franjaSuperior {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
  color: black;
  font-weight: bold; }

.disappear span {
  display: inline-block;
  color: transparent;
  text-shadow: 0px 0px 0px black;
  animation-duration: 6s;
  animation-iteration-count: infinite; }
  .disappear span:nth-child(1) {
    animation-name: disappearleft; }
  .disappear span:nth-child(2) {
    animation-name: disappearleft;
    animation-delay: .3s; }
  .disappear span:nth-child(3) {
    animation-name: disappearight;
    animation-delay: .6s; }
  .disappear span:nth-child(4) {
    animation-name: disappearleft;
    animation-delay: .9s; }
  .disappear span:nth-child(5) {
    animation-name: disappearight;
    animation-delay: 1.2s; }
  .disappear span:nth-child(6) {
    animation-name: disappearight;
    animation-delay: 1.5s; }
  .disappear span:nth-child(7) {
    animation-name: disappearleft;
    animation-delay: 1.8s; }
  .disappear span:nth-child(8) {
    animation-name: disappearight;
    animation-delay: 2.1s; }
  .disappear span:nth-child(9) {
    animation-name: disappearight;
    animation-delay: 2.4s; }
  .disappear span:nth-child(10) {
    animation-name: disappearight;
    animation-delay: 2.7s; }
  .disappear span:nth-child(11) {
    animation-name: disappearight;
    animation-delay: 3s; }
  .disappear span:nth-child(12) {
    animation-name: disappearight;
    animation-delay: 3.3s; }
  .disappear span:nth-child(13) {
    animation-name: disappearight;
    animation-delay: 3.6s; }
  .disappear span:nth-child(14) {
    animation-name: disappearight;
    animation-delay: 3.9s; }
  .disappear span:nth-child(15) {
    animation-name: disappearight;
    animation-delay: 4.2s; }

@keyframes disappearleft {
  50% {
    transform: skew(50deg) translateY(-200%);
    text-shadow: 0px 0px 50px;
    opacity: 0; } }

@keyframes disappearight {
  50% {
    transform: skew(-50deg) translateY(-200%);
    text-shadow: 0px 0px 50px;
    opacity: 0; } }

.SocialMedia {
  background-color: trasnsparent;
  text-align: center; }

.SocialMedia_Iconos {
  text-decoration: none;
  padding-right: 0px;
  width: auto;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row; }

.Iconos {
  width: 45px;
  height: 45px;
  padding: 5px;
  display: flex; }

.logo {
  width: auto;
  max-height: auto; }

.logoSuperior a {
  background: transparent;
  text-decoration: none;
  letter-spacing: 0px;
  align-items: center;
  line-height: 50px;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 7px 4px 5px #f1bfce;
  color: #c70039;
  margin-left: 0; }

.logoInferior a {
  background: transparent;
  text-decoration: none;
  letter-spacing: 0px;
  align-items: center;
  line-height: 50px;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 7px 4px 5px #f1bfce;
  color: #c70039;
  margin-left: 0; }

.navegacion_menu {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0;
  margin-bottom: 0px !important; }

#menu1 a {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 20px; }

#menu2 {
  margin-left: 100px;
  margin-right: 80px;
  display: inline-block; }

.container-slider {
  margin: auto;
  margin-top: 20px;
  background-color: white;
  width: 560px;
  padding: 30px;
  margin-top: 40px;
  border-radius: 5%; }

ul, li {
  list-style: none; }

ul.slider {
  position: relative;
  width: 500px;
  height: 300px; }

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff; }

ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

ul.slider li:first-child {
  opacity: 1; }

ul.slider li:target {
  opacity: 1; }

.menu {
  text-align: center;
  margin: 20px;
  margin-bottom: 0px; }

.menu li {
  display: inline-block;
  text-align: center; }

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%; }

.section {
  background-color: transparent;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenlys;
  align-items: stretch;
  align-self: auto;
  border-radius: 5%; }

.grid {
  display: grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  grid-template-rows: 100px;
  text-align: center; }
  .grid .section {
    display: flex;
    text-align: center;
    display: inline-block;
    margin: 20px;
    text-align: center;
    padding-top: 30px; }
  .grid .tabla {
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.grid-nosotros {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100px;
  text-align: center;
  display: inline-flex;
  margin: 20px; }

.botones-formulario:hover {
  background-color: #fcd9f4;
  cursor: pointer; }

#fotoproducto {
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  flex-direction: row;
  width: 300px;
  height: auto;
  border-radius: 5%; }

.botones-productos {
  display: block;
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none; }

.hover-textos, #menu1 a:hover, .botones-productos:hover {
  color: #880e4f;
  text-decoration: none; }

#nombre,
#email,
#telefono,
#mensaje {
  width: 250px; }

.margen-izq-20 {
  padding-left: 20px; }

.margen-top-100 {
  margin-top: 100px; }

footer {
  text-align: center;
  padding-top: 50px; }

.grid2 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 180px;
  text-align: center; }
  .grid2 .SocialMedia {
    align-self: end; }

.logoSuperior a > label {
  cursor: pointer; }

a .pre-titulo {
  font-family: 'Sokis-first'; }

a .post-titulo {
  font-family: 'Sokis-second';
  margin-left: -30px; }

.logoInferior a > label {
  cursor: pointer; }

.video-descripcion {
  text-align: left;
  padding: 30px; }

.video-contenedor {
  text-align: center; }

.locales-descripcion-container {
  display: inline-block;
  padding: 0px 60px 30px 60px; }

.locales-descripcion-texto {
  vertical-align: top;
  padding-right: 750px; }

.btn-2 {
  letter-spacing: 0;
  background-color: rgba(255, 255, 255, 0.05); }

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px; }

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(136, 14, 79, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0; }

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #880e4f;
  transition: width 350ms ease-in-out;
  width: 70%; }

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%; }

@media screen and (min-width: 601px) {
  .menu-mobile-icon {
    display: none; }
  #video-desktop {
    display: block !important; } }

@media screen and (max-width: 600px) {
  .grid2 {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 180px;
    text-align: center; }
  #video-mobile {
    display: block !important; }
  .franjaSuperior {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    font-size: 14px;
    color: black;
    font-weight: bold; }
  .SocialMedia_Iconos {
    display: none; }
  .navegacion_menu {
    display: none;
    margin-bottom: 0px !important; }
  #hr-separador {
    display: none; }
  .logoSuperior {
    text-align: right; }
    .logoSuperior .a {
      font-size: 50px; }
  a .pre-titulo {
    font-family: 'Sokis-first'; }
  a .post-titulo {
    font-family: 'Sokis-second';
    margin-left: -14px; }
  #menu-mobile {
    display: block;
    position: absolute; }
  .menu-mobile-icon {
    width: 45px;
    height: 45px; }
  #menu1 a {
    padding: 10px 0px 10px 0px;
    width: 100%; }
  .navegacion_menu:hover {
    border: 1px solid #3d3d3d; }
  #menu2 {
    display: none; }
  .container-slider {
    display: none; }
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    text-align: center; }
  .logoInferior a {
    font-size: 80px; }
  .nosotros-video-container {
    display: inline-block;
    padding: 0px 10px 30px 10px; }
    .nosotros-video-container:iframe {
      width: 400px;
      height: 300px; }
  .grid-nosotros {
    display: inline-block;
    grid-template-columns: 100%;
    grid-template-rows: 320px;
    text-align: center;
    margin: 20px; }
  .locales-descripcion-container {
    display: inline-block;
    padding: 0px 10px 30px 10px; }
  .locales-descripcion-texto {
    vertical-align: top;
    padding-right: 10px; } }
