    @font-face {
        font-family: "Sokis-first";
        src: url(../fonts/FakeSerif.ttf);
    }
    
    @font-face {
        font-family: "Sokis-second";
        src: url(../fonts/RoshidaValentines.ttf);
    }
